extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere illum provident porro corrupti alias nihil mollitia soluta consequuntur, odio sed, consectetur ut sapiente ratione omnis iusto, praesentium autem in at.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta fuga nisi? Recusandae expedita corrupti quia enim fuga. Nihil explicabo aspernatur distinctio sapiente tempore recusandae tenetur voluptas quaerat animi soluta?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis inventore debitis deleniti excepturi nam libero tempora unde facere error. Quam consequuntur molestiae, repellat libero nemo assumenda aliquam iusto provident voluptas!

    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit repudiandae quae dolorum natus assumenda, amet.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit repudiandae quae dolorum natus assumenda, amet.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit repudiandae quae dolorum natus assumenda, amet.